/*
******************************
    Layout
******************************
*/

/* cotnaienr width */
$contaienerWidth: 1140px;
$contaienerWidth-wide: 1270px;

/* header height */
$headerHeight: 120px;
$headerHeight-md: 76px;

/*
******************************
    Color Scheme
******************************
*/
$color-primary: #0F7095;
$color-black: #000000;
$color-bodyText: #333333;
$color-linkText: #2467FF;
$color-border: #cccccc;
$color-bodySubText: #666666;
$color-white: #fff;
$color-navy: #073547;
$color-green: #1D9D7C;
$color-gold: #b7ab22;
$color-red: #c72525;
$color-beige: rgba(239, 235, 210, 0.5);

/*
******************************
    TypoGraphy
******************************
*/

/* FontFamiry */
$fontfamily-NotoSansJp: "Noto Sans JP", sans-serif;

/* Navigation FontSize */
$fontSizeGlobalNav: 1.6rem;
$fontSizeGlobalNav-md: 1.8rem;

/* Body FontSize */
$basicFontSize: 1.6rem;
$basicFontSize-xs: 1.4rem;

/* Body FontWeight */
$fontWeight-basic: 400;

/* Other FontWeight */
$fontWeight-bold: 700;
$fontWeight-heavy: 900;
