@use "../setting" as *;

.l-footer {
    background-color: #073547;
    padding: 80px 0;
    position: relative;
    z-index: var(--z-bottomLayer);

    a {
        color: #fff;

        &:hover {
            opacity: .8;
        }
    }

    &__menu {
        font-size: 1.4rem;

        li {
            &:not(:first-child) {
                margin-top: 7px;
            }
        }

        a {
            color: #ccc;
        }
    }

    &__bottom {
        margin-top: 60px;
        border-top: 1px solid $color-white;
        padding-top: 60px;

        .under {
            margin-top: 60px;
        }
    }

    &__siteinfo {
        color: $color-white;
        line-height: 2.14;
        font-size: 1.4rem;

        .logo {

            +* {
                margin-top: 24px;
            }
        }

        a {
            text-decoration: underline;

        }
    }

    &__otherMenu {
        li {
            line-height: 2.14;
            font-size: 1.4rem;
            text-align: right;

            @include breakpoint-sm {
                text-align: left;
            }

            a {
                &:hover {
                    opacity: .8;
                }
            }
        }
    }

    &__sns {
        gap: 4px 16px;
        flex: 1 1 auto;
        max-width: 700px;

        a {
            font-size: 1.4rem;
            font-weight: $fontWeight-bold;
            display: inline-block;
            margin-right: 16px;

            .icon {
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__copyright {
        color: $color-white;
        text-align: right;
        line-height: 40px;

        small {
            font-size: 1.4rem;
        }
    }
}
