@use "../setting" as *;

.c-globalNav {

    &__item {
        @include breakpoint-md {
            width: 100%;
        }

        a {
            font-size: $fontSizeGlobalNav;
            font-style: normal;
            font-weight: $fontWeight-bold;
            display: block;
            color: $color-bodyText;

            @include breakpoint-md {
                color: $color-white;
                font-size: $fontSizeGlobalNav-md;
            }


            &:hover {
                color: $color-primary;

                @include breakpoint-md {
                    color: $color-white;
                }
            }

            &.dropdownToggle {
                display: flex;
                align-items: center;

                @include breakpoint-md {
                    width: 100%;
                    justify-content: space-between;
                }


                .dropdownToggle__icon {
                    height: 7px;
                    width: 13px;
                    display: inline-block;
                    margin-left: 8px;
                    background-size: cover;
                    background-image: url(../assets/common/icon-chevron_down.svg);
                    background-repeat: no-repeat;

                    @include breakpoint-md {
                        background-image: url(../assets/common/icon-chevron_down_white.svg);
                    }
                }
            }

            &.is-active {
                color: $color-primary;

                @include breakpoint-md {
                    color: $color-white;
                }

                .dropdownToggle__icon {
                    transform: rotate(-180deg);
                }
            }
        }

    }

    .dropdownMenu {
        overflow: hidden;
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: $headerHeight;
        background-color: $color-white;
        padding: 42px 0;
        border-top: 1px solid #dfe1e1;

        @include breakpoint-md {
            width: 100%;
            position: relative;
            top: 0;
            background-color: transparent;
            border-top: none;
            padding: 24px 0 0 12px;
        }

        &_body {
            width: min($contaienerWidth, 100% - 64px);
            margin-inline: auto;
            gap: 40px 0;

            @include breakpoint-md {
                width: 100%;
                gap: 16px;
            }
        }

        &__item {
            width: calc(100% / 3);
            display: inline-block;
            padding: 20px;
            border-radius: 10px;

            @include breakpoint-md {
                width: 100%;
                padding: 0;
                color: #E6F0F4;
            }

            &:hover {
                background-color: rgba(230, 240, 244, .5);
                color: $color-bodyText;

                @include breakpoint-md {
                    background-color: transparent;
                    color: #E6F0F4;
                }
            }

            &.-no-icatch {
                width: calc(100% / 4);

                @include breakpoint-md {
                    width: 100%;
                }
            }
        }

        &__content {
            width: calc(100% - 72px);

            @include breakpoint-md {
                width: 100%;
            }

        }

        &__icon {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            @include breakpoint-md {
                display: none;
            }

            img {
                line-height: 1;
            }

        }

        &__title {
            font-size: 1.6rem;
            font-weight: $fontWeight-bold;
            line-height: 24px;
            color: $color-black;

            @include breakpoint-md {
                color: #E6F0F4;
            }
        }

        &__decription {
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 4px;

            @include breakpoint-md {
                display: none;
            }
        }
    }
}
