@use "../setting" as *;

.c-headline {
    &.-h2 {
        @include headline-h2;
        text-align: center;

        +* {
            margin-top: 60px;

            @include breakpoint-xs {
                margin-top: 40px;
            }
        }
    }

    &.-h5 {
        @include headline-h5;

        +* {
            margin-top: 16px;
        }
    }
}
